// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-edit{
    background-color: black;
    color: white;
    padding: 2%;
    border-radius: 8px;
}

.comment-btn{
    margin-top: 3%;
    margin-right: 0px;
    float: right;
    background-color: black;
    color: white;
    padding: 1%;
    border-radius: 8px;
    margin-bottom: 2%;
}

.edit-comment-btn{
    margin-top: 3%;
    margin-right: 0px;
    float: right;
    background-color: black;
    color: white;
    padding: 5px 5px;
    border-radius: 8px;
    margin-bottom: 2%;
    margin-left:1%;  
}

.edit-comment-btn:hover{
    color: white;
}